services:
  nyc-taxi:
    build:
      context: .
    image: angelfelizr/nyc-taxi:4.5.2
    container_name: nyc-taxi
    ports:
      - "2222:22"
    volumes:
      - .:/root/NycTaxi
      - ../NycTaxiPins:/root/NycTaxiPins
      - ../NycTaxiBigFiles:/root/NycTaxiBigFiles
